

<%- model_class = Project -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
 <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Hcneeded</th>
      <th>Deadline</th>
      <th>Requestingorg</th>
      <th>Userid</th>
      <th>PledgeCount</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
    <tbody>
   <% @projects.each do |project| %>
      <tr>
       <td><%= project.title %></td>
    <td><%= project.description %></td>
    <td><%= project.hcneeded %></td>
    <td><%= project.deadline %></td>
    <td><%= project.requestingorg %></td>
    <td><%= project.user_id %></td>
    <td><%=@pledgeProj[project.id] %></td>
        <td>
          <%= link_to t('.new', :default => t("helpers.links.new")),
                      new_pledge_path, :class => 'btn btn-mini' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_project_path(project), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                       project_path(project),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_project_path,
            :class => 'btn btn-primary' %>